*{
    margin: 0;
    padding: 0;

}


body{
    background:red url('1.png') center center no-repeat;
    background-size: cover;
}

.parent{
    position: relative;
    width: 100%;
    height: 100vh;
}

.paola{
    position: absolute;
    height: 100px;
    width: 100px;


}

.paola{

    bottom: 50%;
    right: 26%;
    font-family: fantasy;
    background-color: white;
   
    align-items: center;



}



button{
    background-color: white;
    border-radius: 5px;
    width: 150%;
    height: 30%;
    box-shadow: 2px 2px 20px gray;
    color: black;
    font-family: fantasy;
}